.home {
    text-align: center;
    padding: 20px;
  }
  
  .tables-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 tables per row */
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .table-box {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Table status colors */
  .free {
    background-color: lightgreen;
  }
  
  .waiting {
    background-color: orange;
  }
  
  .eating {
    background-color: red;
  }
  
  .table-box:hover {
    transform: scale(1.1);
  }
  